/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header--Container {
  background: #180D01;
  justify-content: space-between;
  text-decoration: none;
  align-items: flex-start;
  font-size: 0.5rem;
  
}

.link--Container {
  display: flex;
  width: 30%;
  margin: 0 auto;
  justify-content: space-between;
}

.link--Container h1 {
  color: white
}

.header--box1 {

}

a {
  text-decoration: none;
}
